<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 {{ 'https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js'| script_tag}}
 {{ 'florists.js' | asset_url | script_tag }}
 {{ 'vendors.js' | asset_url | script_tag }}

   <style>
   #overlay {
            z-index: 3000;
     position:fixed;
     width:100%;
     height:100%;
     background:#000;
     opacity:0.5;
     filter:alpha(opacity=50);

       left: 50%;
           top: 50%;
           transform: translate(-50%, -50%);
   }
   #modal {
            z-index: 3001;
       width:80%;
       height: auto;
     position:absolute;
     background:white;
     border-radius:14px;
     padding:8px;
       left: 50%;
       top: 50%;
           transform: translate(-50%,-50%);
   }

   #content {
           z-index: 3001;
           height: auto;
           min-height: 100%;
           border-radius: 0;
   }

   #close {
           z-index: 3001;
     position:absolute;
     width:24px;
     height:27px;
     display:block;
     top:5px;
     right:5px;
     color: #000
   }
   .queryTable{
       display: flex;
           justify-content: center;
           align-items: center;
       height:100%;
       min-height:40px;
       background-color:#FFC0CB;
   }
   .queryTable:hover{
       background-color:#ffc9d3;
   }
   .queryTable:active{
       background-color:#f2bdc7;
   }
   .searchButton{
       text-align: center;
       background-color:white;
       border:solid black thin;
       border-radius:10px;
   }
   .searchButton:hover{
       background-color:#ffc9d3;
   }
   .searchButton:active{
       background-color:#f2bdc7;
   }
   .formArea{

       display: flex;
       box-sizing: border-box;
         flex-direction: column;
       background-size: cover;
           background-position: center;
           background-position-x: center;
           background-position-y: center;
       background-image:url(https://kajabi-storefronts-production.global.ssl.fastly.net/kajabi-storefronts-production/themes/2064930/settings_images/l2bJMFSbTC6LmCtFHMpN_kellylemonphotography_MODERN_FLORAL_SUBMISSION-74.jpg);
       min-height:500px;
   }
 </style>
<div id="" class="section section--global section--product">
 <div class="container" style="padding:0px">
   <div id="searchBody">
   </div>
   <div class="container">

       <div id="dirTable" class="mt-4">
       </div>
   </div>
 </div>
</div>

   <script>
   var floristLink = "https://www.paperflowereducation.com/products/member-directory-search/categories/3440584/posts/11486395"
   var vendorLink = "https://www.paperflowereducation.com/products/member-directory-search/categories/3440584/posts/11594642"
   
     florist=`
   <div id='floristForm' class="Container" style="margin-top:20px;">
    <Form id='placeForm' class="d-flex justify-content-center formArea" style="margin:0px">
         <div style="background-color:white;height:90%;width:90%;text-align:center" class="row mx-auto container p-3 d-flex justify-content-center">
             <h2 style="font-size: 24px;text-align:center;" class="col-12"><i>I'm looking for a: </i><b style="color:orange;font-size:48px;">PAPER FLORIST</b></h1>
             <p class="col-12 col-sm-12 col-md-2 mx-1 my-auto" style="display:inline;text-align:center;padding:0px">  In This <b>Location:</b></p>
               <select type="text" style="border-width:thin" id="country" onchange="countryChanged()" name="country" placeholder="Country" class="col-5 col-sm-5 col-md-3 mx-2" align="center">
               </select>
               <select type="text" style="border-width:thin" id="state" name="state" placeholder="State/Province/District" class="col-5 col-sm-5 col-md-3 mx-2" align="center"></select>
               <div class="queryTable col-12 col-sm-12 col-md-2 mt-3 mt-md-0" onclick="constructFloristTable('#testTable')" style="text-align:center;">
           search
             </div>
         </div>

       </Form>

   </div>`

      vendor=`
 <div id='vendorForm' class="Container" style="margin-top:20px;padding:0px">

    <Form id='placeForm' class="d-flex justify-content-center formArea" style="margin:0px">
         <div style="background-color:white;height:90%;width:90%;text-align:center" class="row mx-auto container p-3 d-flex justify-content-center">
             <h2 style="font-size: 24px;text-align:center;overflow-wrap: break-word;" class="col-12"><i>I'm looking for a: </i><b style="color:orange;font-size:48px;">VENDOR/ SUPPLIER</b></h1>
              <p class="col-12 col-sm-12 col-md-2 mx-1 my-auto" style="display:inline;text-align:center;padding:0px">  In This <b>Location:</b></p>
               <select type="text" style="border-width:thin" id="country" onchange="countryChanged()" name="country" placeholder="Country" class="col-5 col-sm-5 col-md-3 mx-2" align="center">
               </select>
               <select type="text" style="border-width:thin" id="state" name="state" placeholder="State/Province/District" class="col-5 col-sm-5 col-md-3 mx-2" align="center"></select>
               <div class="queryTable col-12 col-sm-12 col-md-2 mt-3 mt-md-0" onclick="constructVendorTable('#testTable')" style="text-align:center;">
           search
             </div>
         </div>

       </Form>


   </div>`

    for(var i = 0; i < floristTable.length; i++){
           floristTable[i].Country = floristTable[i].Country.toUpperCase().trim()
           floristTable[i].State = floristTable[i].State.toUpperCase().trim()
           floristTable[i].City = floristTable[i].City.toUpperCase().trim()
       }

       for(var i=0;i< vendorTable.length;i++){
           vendorTable[i].Country = vendorTable[i].Country.toUpperCase().trim()
           vendorTable[i].State = vendorTable[i].State.toUpperCase().trim()
           vendorTable[i].City = vendorTable[i].City.toUpperCase().trim()
       }

       function countryChanged(){

           var eID = document.getElementById("country");
           value = eID.options[eID.selectedIndex].value;
           state = document.getElementById("state");

           var length = state.options.length;
           for (i = length-1; i >= 0; i--) {
             state.options[i] = null;
           }

           var states = []
           state.innerHTML = '';
           var option = document.createElement('option');
           option.value = ""
           option.text = "State/Province/District"
           state.append(option)
           states.push("")
           if(value==""){
               if(window.location.href == vendorLink){
                   for(var i = 0; i < vendorTable.length; i++){
                       var val = vendorTable[i].State.toUpperCase().trim()
                       if(!states.includes(val)){

                           states.push(val)
                           var option = document.createElement('option');
                           option.value = val
                           option.text = val
                           state.append(option)
                       }
                   }
               }
               else if(window.location.href == floristLink){
                  for(var i = 0; i < floristTable.length; i++){
                       var val = floristTable[i].State.toUpperCase().trim()
                       if(!states.includes(val)){

                           states.push(val)
                           var option = document.createElement('option');
                           option.value = val
                           option.text = val
                           state.append(option)
                       }
                   }
               }
               return
           }

           if(window.location.href == vendorLink){
               for(var i = 0; i < vendorTable.length; i++){
                       if(vendorTable[i].Country == value){
                           var val = vendorTable[i].State.toUpperCase().trim()
                           if(!states.includes(val)){

                           states.push(val)
                           var option = document.createElement('option');
                           option.value = val
                           option.text = val

                           state.append(option)
                       }
                   }
               }
           }
           else if(window.location.href == floristLink){
               for(var i = 0; i < floristTable.length; i++){
                   if(floristTable[i].Country == value){
                       var val = floristTable[i].State.toUpperCase().trim()
                       if(!states.includes(val))
                       {
                           states.push(val)
                           var option = document.createElement('option');
                           option.value = val
                           option.text = val

                           state.append(option)
                       }
                   }
               }
           }
       }

       if(window.location.href == vendorLink){
           $('#searchBody').append(vendor)

             var country = $('#country')
           var countries = []
            var option = document.createElement('option');
           option.value = ""
           option.text = "Country"
           country.append(option)
           countries.push("")

           for(var i = 0; i < vendorTable.length; i++){
               var val = vendorTable[i].Country.toUpperCase().trim()
               if(!countries.includes(val)){

                   countries.push(val)
                   var option = document.createElement('option');
                   option.value = val
                   option.text = val
                   country.append(option)
               }
           }


            var state = $('#state')
           var states = []
           var option = document.createElement('option');
           option.value = ""
           option.text = "State/Province/District"
           state.append(option)
           states.push("")
           for(var i = 0; i < vendorTable.length; i++){
               var val = vendorTable[i].State.toUpperCase().trim()
               if(!states.includes(val)){

                   states.push(val)
                   var option = document.createElement('option');
                   option.value = val
                   option.text = val

                   state.append(option)
               }
           }
       }
       else if(window.location.href == floristLink){
            $('#searchBody').append(florist)
           var country = $('#country')
           var countries = []
            var option = document.createElement('option');
           option.value = ""
           option.text = "Country"
           country.append(option)
           countries.push("")

           for(var i = 0; i < floristTable.length; i++){
               var val = floristTable[i].Country.toUpperCase().trim()
               if(!countries.includes(val)){

                   countries.push(val)
                   var option = document.createElement('option');
                   option.value = val;
                   option.text = val;
                   country.append(option);
               }
           }

            var state = $('#state')
            var states = []
            var option = document.createElement('option');
            option.value = ""
            option.text = "State/Province/District"
            state.append(option)
            states.push("")
            for(var i = 0; i < floristTable.length; i++){
                var val = floristTable[i].State.toUpperCase().trim()
                if(!states.includes(val)){
                    
                   states.push(val)
                   var option = document.createElement('option');
                   option.value = val;
                   option.text = val;
                   state.append(option);
               }
           }

       }

       function queryFlorists(){

     var place = $('#placeForm').serializeArray().reduce(function(obj, item) {
           obj[item.name] = item.value;
           return obj;
       }, {});

         var styles = $('#styleForm').serializeArray();

         var occasions = $('#occasionForm').serializeArray();
         var fresh = $('#freshForm').serializeArray();

          var query = floristTable
           if(place["country"])
           {
              query = query.filter(florist => florist.Country==place["country"]);
           }
            if(place["state"])
           {
              query = query.filter(florist => florist.State==place["state"]);
           }

           if(styles.length > 0)
           {
               query =query.filter(function(florist) {
               for(var i = 0; i < styles.length; i+= 1)
               {
                   var floristStyles = florist.Styles.split(";")
                   if(!floristStyles.includes(styles[i].value))
                   {
                       return false;
                   }
               }
                   return true;
               })
           }

            if(occasions.length > 0)
           {
               query =query.filter(function(florist) {
               for(var i = 0; i < occasions.length; i+= 1)
               {
                   if(!florist.Occasions.includes(occasions[i].value))
                   {
                       return false;
                   }
               }
                   return true;
               })
           }

           if(fresh.length > 0)
           {
               query =query.filter(function(florist) {
               for(var i = 0; i < fresh.length; i+= 1)
               {
                   if(!florist.Fresh.includes(fresh[i].value))
                   {
                       return false;
                   }
               }
                   return true;
               })
           }

           return query
       }


   function constructFloristTable(selector) {

        document.getElementById("dirTable").innerHTML = '';

       var list = queryFlorists()

       var countrySort = new Object();

             for (var i = 0; i < list.length; i++) {

          var State = document.createElement('H1');
            State.innerHTML = list[i]["City"] +"," + list[i]["State"]
            State.style.color = "pink";
           $("#dirTable").append(State)

         var div = document.createElement('div');
               div.setAttribute('class', 'm-3');
               div.className += " p-3";
         div.innerHTML += "<b>" + list[i]["Business"] + "</b>";
         div.innerHTML += ", " + list[i]["Full Name"]+ "<br><br>";

         div.innerHTML += "Email: " + list[i]["Email"];

         var web = document.createElement('a');
         var link = document.createTextNode(list[i]["Website"]);
               web.title = list[i]["Website"];
               web.href = list[i]["Website"];
               web.target="_blank"
               web.appendChild(link);

         div.innerHTML +=  " | Website: ";
         div.append(web)

         var insta = document.createElement('a');
         var instaHandle = list[i]["Instagram"].substring(1, list[i]["Instagram"].length)
         var link = document.createTextNode("@"+ instaHandle);
               insta.target="_blank"
              insta.href = "http://instagram.com/" + instaHandle;

               insta.appendChild(link);

         div.innerHTML +=  " | Instagram: ";
         div.append(insta)
         div.innerHTML += "<br><br>"

         var newStyles = list[i]["Styles"].toString().replace(/;/g," | ");

         div.innerHTML += "<b>Paper Flower Style: </b>" + newStyles + "<br><br>";
         var newOccasions = list[i]["Occasions"].toString().replace(/;/g," | ");
         div.innerHTML += "<b>Available For: </b>" + newOccasions + "<br><br>";

         if( list[i]["Fresh"].toString() != "No"){
             var can = ""
             if(list[i]["Fresh"].toString().includes("Yes, I can arrange my paper flowers with fresh flowers and foliage")){
                 can = "Arrange paper flowers with fresh flowers and foliage"

                 if(list[i]["Fresh"].toString().includes("Yes, I can provide single stems and work with a fresh flower florist")){
                     can += "| Provide single stems and work with a fresh flower florist"
                 }
             }
             else if(list[i]["Fresh"].toString().includes("Yes, I can provide single stems and work with a fresh flower florist")){
                 can = "Provide single stems and work with a fresh flower florist"
             }

             div.innerHTML += "<b>Can: </b>" + can + "<br><br>";
         }

         div.style.borderStyle = "solid";
         div.style.borderColor = "pink";
         div.style.borderWidth= "5px";
       $("#dirTable").append(div)

           }
           if(list.length >0){
               modal.close();
           }
           else{
               alert("Sorry, nothing matches that criteria");
           }

   }

    function queryVendors(){

         var place = $('#placeForm').serializeArray().reduce(function(obj, item) {
               obj[item.name] = item.value;
               return obj;
           }, {});

         var materials = $('#materialForm').serializeArray();

         var ship = $('#shipForm').serializeArray();
         var retail = $('#retailForm').serializeArray();

          var query = vendorTable
           if(place["country"])
           {
              query = query.filter(vendor => vendor.Country==place["country"]);
           }
            if(place["state"])
           {
              query = query.filter(vendor => vendor.State==place["state"]);
           }
            if(place["city"])
           {
              query = query.filter(vendor => vendor.City==place["city"]);
           }


           if(materials.length > 0)
           {
               query =query.filter(function(vendor) {
               for(var i = 0; i < materials.length; i+= 1)
               {
                   var materialStyles = vendor.Materials.split(";")
                   if(!materialStyles.includes(materials[i].value))
                   {
                       return false;
                   }
               }
                   return true;
               })
           }

            if(ship.length > 0)
           {
               query =query.filter(function(vendor) {
               for(var i = 0; i < ship.length; i+= 1)
               {
                   if(!vendor.ShipPlace.includes(ship[i].value))
                   {
                       return false;
                   }
               }
                   return true;
               })
           }

           if(retail.length > 0)
           {
               query =query.filter(function(vendor) {
               for(var i = 0; i < retail.length; i+= 1)
               {
                   if(!vendor.Retail.includes(retail[i].value))
                   {
                       return false;
                   }
               }
                   return true;
               })
           }

           return query
       }


   function constructVendorTable(selector) {

        document.getElementById("dirTable").innerHTML = '';

       var list = queryVendors()
       var countrySort = new Object();

             for (var i = 0; i < list.length; i++) {

          var State = document.createElement('H1');
            State.innerHTML = list[i]["City"] +"," + list[i]["State"]
            State.style.color = "pink";
           $("#dirTable").append(State)

         var div = document.createElement('div');

               div.setAttribute('class', 'm-3');
               div.className += " p-3";
         div.innerHTML += "<b>" + list[i]["Business"] + "</b><br>";

         div.innerHTML += " Email: " + list[i]["Email"];
         var web = document.createElement('a');
         var link = document.createTextNode(list[i]["Website"]); 
               web.title = list[i]["Website"];
               web.href = list[i]["Website"];
               web.target="_blank"
               web.appendChild(link);

         div.innerHTML +=  " | Website: ";
         div.append(web)
         div.innerHTML += "<br><br>";

         var newMaterials = list[i]["Materials"].toString().replace(/;/g," | ");
         div.innerHTML += "<b>Sells: </b>" + newMaterials + "<br><br>";

         var newShips = list[i]["Ship"].toString().replace(/;/g," | ");

         div.innerHTML += "<b>Ships to: </b>" + newShips + "<br><br>";
         div.innerHTML += "<b>Offers: </b>" + list[i]["Retail"].toString() + "<br><br>";

         div.style.borderStyle = "solid";
         div.style.borderColor = "pink";
         div.style.borderWidth= "5px";
       $("#dirTable").append(div)
           }
        if(list.length >0){
               modal.close();
           }
           else{
               alert("Sorry, nothing matches that criteria");
           }

   }
 </script>
